@charset "utf-8";

/* Global styles */

html, body { background-color: rgb(0,0,0); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; box-sizing: border-box; }

.outer-wrapper{
    background-color: rgb(247, 247, 247);
    padding: 0 30px 0 30px;
}

/* Header styles */
.header {
    background-color: rgb(247, 247, 247);
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;
    height:55px;
    font-size:24px;
    letter-spacing:0px;
}

.header span, .subheader span {
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    text-align: left;
}

.subheader {
    background-color: rgb(247, 247, 247);
    position:fixed;
    top:55;
    width:100%;
    z-index:1000;
    font-size:20px;
    letter-spacing:0px;
    display:none;
}

.subheader .item {
    height: 35px;
    padding-top:10px;
    border-top:1px solid rgba(0,0,0,0.2);
    text-align:center;
    cursor:pointer;
}

.subheader .item .title-container {
    padding-top:15px;
}

.header div { display:inline-block; }
.header > div {height:45px; }
.header > div.header-stripe { height:5px; display:block; background-color:rgb(0,0,0); }

.title-container {margin-left:7%;}
.title-container .nav { margin-left:-8px; }
.title-container span {cursor:pointer;}

.nav-container{position:absolute;right:7%;}
.nav-container span.slash {font-weight:normal;padding:0 40px 0 40px;font-size:18px;color:rgb( 111, 110, 110 );}
.header .mobile-menu {background: url('/_Global/images/icons/icon-menu.svg') center center no-repeat; cursor:pointer;height:50px;width:50px;border:none;padding:0;position:absolute;right:3%;display:none;}

.nav { border-bottom:5px solid transparent;padding:10px 0 6px 0;}
.nav:hover, .nav.hover{ border-bottom: 5px solid rgb( 111, 110, 110 ); cursor:pointer; }
.nav:hover > span, .nav.hover > span { color: rgb( 111, 110, 110 ); }

.trish.menu-open span{color: rgb( 111, 110, 110 );}

/* Main content */
.inner-wrapper{ background: url('/_Global/images/bg/bg.jpg') right top no-repeat fixed; background-color:black; background-size: cover; color:white; z-index:1; margin-top:55px;}

section {display:block;}
section.text {height:70vh;padding:15vh 0 15vh 0;}
section.text .story.primary {padding-top:5%;}
section.text .story.secondary {padding-top:10%;}

.story{ text-align:center;}
.story h1 span { color: rgb(255, 255, 255); }
.story h1 span.gif-trigger{ border-bottom: 5px solid; cursor:pointer;}
.story h1 {
    font-size: 96px;
    color: rgb(135, 134, 134);
    font-weight: bold;
    letter-spacing: -3px;
    text-align: center;
    text-shadow: 0 1px 0;
    opacity: 0.8;
    margin: 0;
}

.story .gif-copy-container {height:250px;margin-top:50px;}
.story .gif { display:none; height:75%; }
.gif.glasses { background:url('/_Global/images/gifs/glasses.gif') no-repeat center; background-size: contain; }
.gif.poop { background:url('/_Global/images/gifs/poop.gif') no-repeat center; background-size: contain; }
.gif.talk { background:url('/_Global/images/gifs/talk.gif') no-repeat center; background-size: contain; }

.story .copy.desktop-copy, h1.desktop-copy, div.desktop-copy {display:inline-block;}
.story .copy.mobile-copy, h1.mobile-copy, div.mobile-copy {display:none;}

.story .copy span { color: rgb(255, 255, 255); font-style: italic; }
.story .copy {
    font-size: 30px;
    font-family: "Georgia";
    color: rgb(135, 134, 134);
    line-height: 1.457;
    letter-spacing: -1px;
    text-align: center;
}

section .bar-wrapper {width:100%;display:block;background-color: rgba(247, 247, 247, 0.8); }
section.bar .story {padding:10vh 0 10vh 0;left:0;right:0}
section.bar .story.short {padding:12vh 0 12vh 0;left:0;right:0;}
section.bar .story .copy span { color: rgb(62, 62, 62); line-height: 1.542;}
section.bar .story .copy span.highlight { color: rgb(255, 255, 255);font-style: normal; border:none; }
section.bar .story .copy.inverse span { font-style:normal;}
section.bar .story .copy.inverse span.highlight { font-style: italic; }

section.contact {height:70vh;padding-top:30vh;padding-bottom:20vh;}
section.contact {opacity:0;}
section.contact .gif-copy-container {height: 200px;}
section.contact .copy { padding-top:25px; }

/* footer styles */
.footer {
 background-color: rgb(247, 247, 247);
 position:fixed;
 bottom:0;
 z-index:1000;
 height:30px;
 width:100%;
}

/* parallax */
section.parallax > div {
    color: white;
    height: 150vh;
    margin: 0 auto;
    padding: 160px 0 0 0;
    cursor: pointer;
}

#rushmore{ background: url('/_Global/images/bg/RUSHMORE.jpg') 50% 0 no-repeat fixed;background-size:cover; }
#dodge{ background:url('/_Global/images/bg/DODGE.jpg') 50% 0 no-repeat fixed; background-size:cover;}
#ride-planner{ background: url('/_Global/images/bg/RIDE-PLANNER.jpg') 50% 0 no-repeat fixed; background-size:cover;}

/* flip */
.contact-wrapper{height:150px;}
.contact-wrapper > div { width:15%; display:inline-block; }
.contact-wrapper a {display:block;height:100%;}

.twitter .front{background: url('/_Global/images/icons/twitter-resting.png') no-repeat center;background-size:contain;}
.twitter .back{background: url('/_Global/images/icons/twitter-hover.png') no-repeat center;background-size:contain;}
.linkedin .front {background: url('/_Global/images/icons/linkedin-resting.png') no-repeat center;background-size:contain;}
.linkedin .back {background: url('/_Global/images/icons/linkedin-hover.png') no-repeat center;background-size:contain;}
.behance .front {background: url('/_Global/images/icons/behance-resting.png') no-repeat center;background-size:contain;}
.behance .back {background: url('/_Global/images/icons/behance-hover.png') no-repeat center;background-size:contain;}
.email .front {background: url('/_Global/images/icons/email-resting.png') no-repeat center;background-size:contain;}
.email .back {background: url('/_Global/images/icons/email-hover.png') no-repeat center;background-size:contain;}

/* Rotate the cube */

/* Container box to set the sides relative to */
.cube {
    width: 15%;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    padding-right:10px;
    cursor: pointer;

    -webkit-transition: -webkit-transform .33s;
    -moz-transition: -webkit-transform .33s;
    -o-transition: -webkit-transform .33s;
    transition: transform .33s; /* Animate the transform properties */

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d; /* <-NB */
}

/* The two faces of the cube */
.front,.back {
    height: 100%;
}

/* Position the faces */
.front {
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    -o-transform: translateZ(50px);
    transform: translateZ(50px);
}

.back {
    -webkit-transform: rotateX(-90deg) translateZ(-85px);
    -moz-transform: rotateX(-90deg) translateZ(-85px);
    -o-transform: rotateX(-90deg) translateZ(-85px);
    transform: rotateX(-90deg) translateZ(-85px);
}

/* Rotate the cube */
.cube:hover {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg); /* Text bleed at 90º */
}

/* Responsive */

@media screen and (min-width: 1024px) and (max-width: 1600px){
 /* This is sort of what everything else is targeted to */
    section.contact {padding-bottom:15vh;}

    .back {
        -webkit-transform: rotateX(-90deg) translateZ(-90px);
        -moz-transform: rotateX(-90deg) translateZ(-90px);
        -o-transform: rotateX(-90deg) translateZ(-90px);
        transform: rotateX(-90deg) translateZ(-90px);
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px){
    .nav-container span.slash {padding:0 10px 0 10px;}
    .contact-wrapper > div {width:20vw;}
}

@media screen and (max-width: 768px){
    .header { font-size: 20px; }
    .header .mobile-menu {display:inline-block;}
    .header .nav-container {display:none;}

    .nav {border-bottom:none;}
    .nav:hover, .nav.hover {border-bottom:none;}

    section.text .story.primary {padding-top:0;}
    section.bar .story {padding:17vh 5vw 17vh 5vw;}
    section.bar .story.short {padding:19vh 0 19vh 0;}
    section.contact {padding-top:20vh;padding-bottom:30vh;height:100vh;}
    section.contact .story {padding-top:30%;}
    section.contact .gif-copy-container {height:150px;margin-top:20px;}

    .story .copy { font-size: 22px; }
    .story.secondary {padding-left:5vw;padding-right:5vw;}

    .story .copy.desktop-copy, h1.desktop-copy, div.desktop-copy {display:none;}
    .story .copy.mobile-copy, h1.mobile-copy, div.mobile-copy {display:block;}

    .twitter .front:hover{background: url('/_Global/images/icons/twitter-hover.png') no-repeat center;background-size:contain;}
    .linkedin .front:hover{background: url('/_Global/images/icons/linkedin-hover.png') no-repeat center;background-size:contain;}
    .behance .front:hover{background: url('/_Global/images/icons/behance-hover.png') no-repeat center;background-size:contain;}
    .email .front:hover{background: url('/_Global/images/icons/email-hover.png') no-repeat center;background-size:contain;}

    /* Position the faces */
    .cube {cursor:pointer;height:110px;}
    .contact-wrapper > div {width:20vw;}
    .front {
        -webkit-transform: translateZ(0px);
        -moz-transform: translateZ(0px);
        -o-transform: translateZ(0px);
        transform: translateZ(0px);
        height:100%;
    }

    .back {display:none;}

    /* Rotate the cube */
    .cube:hover {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}

@media screen and (max-width: 480px){
    .outer-wrapper {padding: 0;}
    .inner-wrapper{ background: url('/_Global/images/bg/bg.jpg') left top no-repeat fixed; background-size:cover;overflow:hidden;-webkit-overflow-scrolling:touch;}
    .story h1 {font-size:40px;}
    .story .copy {font-size:18px;}

    section.text {height:auto;padding:22% 0 22% 0;}
    section.text .story.primary {padding-top:5%;}
    section.text .story.secondary {padding-top:15%;}
    section.bar .story{padding:15% 0 15% 0;}
    section.bar .story.short {padding:19% 0 19% 0;}
    section.contact {padding:20% 0 10% 0;opacity:1;height:auto;}
    section.contact .copy {padding-top:0;}
    section.contact .story {padding-top:10%;}
    section.contact .gif-copy-container {height:75px;margin-top:25px;}

    .contact-wrapper > div {width:40%;}

    #rushmore{ background: url('/_Global/images/bg/RUSHMORE.jpg') 50% 0 no-repeat;background-size:cover; }
    #dodge{ background:url('/_Global/images/bg/DODGE.jpg') 50% 0 no-repeat; background-size:cover;}
    #ride-planner{ background: url('/_Global/images/bg/RIDE-PLANNER.jpg') 50% 0 no-repeat; background-size:cover;}

    .cube {height:80px;padding-right:0;}

    .footer {display: none;}
}