@charset "utf-8";

/*@font-face {
    font-family: 'Helvetica Neue';
    src:url('/_Global/fonts/Helvetica Neue/Helvetica Neue');format('embedded-opentype'),
    font-weight: normal;
    font-style: normal;
}*/

/* Global styles */

html, body { background-color: rgb(0,0,0); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.outer-wrapper{
    background-color: rgb(247, 247, 247);
    height:100%;
    padding: 0 55px 0 55px;
}

/* Header styles */
.header {
    background-color: rgb(247, 247, 247);
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;
}

.header span {
    font-size: 40px;
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    letter-spacing: -2px;
    text-align: left;
}

.header div { display:inline-block; }
.header > div {height:100%;}
.header > div.header-stripe { height:10px; display:block; width:100%; background-color:rgb(0,0,0); }

.title-container {margin:32px 0 0 55px;}
.title-container .nav { margin-left:-5px; }
.title-container span {cursor:pointer;}

.nav-container{position:absolute; top: 42px; right:55px;}
.nav-container span.slash {font-weight:normal;padding:0 50px 0 50px;}

.nav { height:64px; border-bottom:11px solid transparent;}
.nav:hover, .nav.hover{ border-bottom: 11px solid rgb( 111, 110, 110 ); cursor:pointer; }
.nav:hover > span, .nav.hover > span { color: rgb( 111, 110, 110 ); }

/* Main content */
 .inner-wrapper{
     background: url('/_Global/images/bg/bg.png') scroll;
     background-size: 100% auto;
     margin-top:115px;
 }

 #intro {
     height:1000px;
 }

 #outro {
     height:1000px;
 }

 /* footer styles */
 .footer {
     background-color: rgb(247, 247, 247);
     position:fixed;
     bottom:0;
     z-index:1000;
     height:55px;
     width:100%;
 }

/* parallax */
 #dodge{
     background:url('/_Global/images/bg/DODGE.png') 50% 0 no-repeat fixed;
     color: white;
     height: 1300px;
     margin: 0 auto;
     padding: 160px 0 0 0;
 }

 #ride-planner{
     background: url('/_Global/images/bg/RIDE PLANNER.png') 50% 0 no-repeat fixed;
     color: white;
     height: 1300px;
     margin: 0 auto;
     overflow: hidden;
     padding: 0;
 }

 #rushmore{
     background: url('/_Global/images/bg/RUSHMORE.png') 50% 0 no-repeat fixed;
     margin: 0;
     color: white;
     padding: 160px 0 0 0;
     height: 1300px;
 }
