@charset "utf-8";

/* Global styles */

html, body { background-color: rgb(0,0,0); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; box-sizing: border-box; }

.outer-wrapper{
    background-color: rgb(247, 247, 247);
    padding: 0 30px 0 30px;
}

/* Header styles */
.header {
    background-color: rgb(247, 247, 247);
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;
    height:70px;
    font-size:24px;
    letter-spacing:0px;
}

.header span, .subheader span {
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    text-align: left;
}

.subheader {
    background-color: rgb(247, 247, 247);
    position:fixed;
    top:70;
    width:100%;
    z-index:1000;
    font-size:20px;
    letter-spacing:0px;
    display:none;
    padding-top:15px;
}

.subheader .item {
    height: 35px;
    padding-top:15px;
    padding-bottom:10px;
    border-top:1px solid rgba(0,0,0,0.2);
    text-align:center;
    cursor:pointer;
}

.subheader .item .title-container {
    padding-top:15px;
}

.header div { display:inline-block; }
.header > div {height:60px; }
.header > div.header-stripe { height:5px; display:block; background-color:rgb(0,0,0); }

.title-container {margin-left:7%;}
.title-container .nav { margin-left:-8px; }
.title-container span {cursor:pointer;}

.nav-container{margin-left:45%;}
.nav-container span.slash {font-weight:normal;padding:0 40px 0 40px;font-size:18px;color:rgb( 111, 110, 110 );}
.header .mobile-menu {background: url('/_Global/images/icons/icon-menu.svg') center center no-repeat; cursor:pointer;height:70px;width:50px;border:none;padding:0;position:absolute;right:3%;display:none;}

.nav { border-bottom:5px solid transparent;padding:15px 0 16px 0;}
.nav:hover, .nav.hover{ border-bottom: 5px solid rgb( 111, 110, 110 ); cursor:pointer; }
.nav:hover > span, .nav.hover > span { color: rgb( 111, 110, 110 ); }

.trish.menu-open span{color: rgb( 111, 110, 110 );}

/* Main content */
.inner-wrapper{ background: url('/_Global/images/bg/bg.jpg') right top no-repeat fixed; background-color:black; background-size: cover; color:white; z-index:1; margin-top:55px;}

section {display:block;}
section.text {height:70vh;padding:15vh 0 15vh 0;}
section.text.secondary {padding-bottom:18vh;}
section.text .story.primary {padding-top:5%;}
section.text .story.secondary {padding-top:10%;}

.story{ text-align:center;}
.story h1 span { color: rgb(255, 255, 255); }
.story h1 span.gif-trigger{ border-bottom: 5px solid; cursor:pointer;}
.story h1 {
    font-size: 96px;
    color: rgb(135, 134, 134);
    font-weight: bold;
    letter-spacing: -3px;
    text-align: center;
    text-shadow: 0 1px 0;
    opacity: 0.8;
    margin: 0;
}

.story .gif-copy-container {height:350px;margin-top:50px;}
.story .gif { display:none; height:75%; }
.gif.glasses { background:url('/_Global/images/gifs/glasses.gif') no-repeat center; background-size: cover; }
.gif.poop { background:url('/_Global/images/gifs/poop.gif') no-repeat center; background-size: cover; }
.gif.talk { background:url('/_Global/images/gifs/talk.gif') no-repeat center; background-size: cover; margin-top:7%;}

.story .copy.desktop-copy, h1.desktop-copy, div.desktop-copy {display:inline-block;}
.story .copy.mobile-copy, h1.mobile-copy, div.mobile-copy {display:none;}

.story .copy span { color: rgb(255, 255, 255); font-style: italic; }
.story .copy {
    font-size: 32px;
    font-family: "Georgia";
    color: rgb(135, 134, 134);
    line-height: 1.457;
    letter-spacing: -1px;
    text-align: center;
}

section .bar-wrapper {width:100%;display:block;background-color: rgba(247, 247, 247, 0.8); }
section.bar .story {padding:10vh 0 10vh 0;left:0;right:0}
section.bar .story.short {padding:12vh 0 12vh 0;left:0;right:0;}
section.bar .story .copy span { color: rgb(62, 62, 62); line-height: 1.542;}
section.bar .story .copy span.highlight { color: rgb(255, 255, 255);font-style: normal; border:none; }
section.bar .story .copy.inverse span { font-style:normal;}
section.bar .story .copy.inverse span.highlight { font-style: italic; }

section.contact {height:70vh;padding-top:30vh;padding-bottom:8vh;}
section.contact {opacity:0;}
section.contact .gif-copy-container {height: 350px;}
section.contact .copy { padding-top:25px; }

/* footer styles */
.footer {
 background-color: rgb(247, 247, 247);
 position:fixed;
 bottom:0;
 z-index:1000;
 height:30px;
 width:100%;
}

/* parallax */
section.parallax > div {
    color: white;
    height: 150vh;
    margin: 0 auto;
    padding: 160px 0 0 0;
    cursor: pointer;
}

#rushmore{ background: url('/_Global/images/bg/RUSHMORE.jpg') 50% 0 no-repeat fixed;background-size:cover; }
#dodge{ background:url('/_Global/images/bg/DODGE.jpg') 50% 0 no-repeat fixed; background-size:cover;}
#ride-planner{ background: url('/_Global/images/bg/RIDE-PLANNER.jpg') 50% 0 no-repeat fixed; background-size:cover;}

/* flip */
.contact-wrapper{height:150px;padding-top:5%;}
.contact-wrapper > div { display:inline-block; }
.contact-wrapper a {display:block;height:100%;}

.front {opacity:0.3;background-color:#FFF;background-size:cover;}
.back {opacity:1;background-size:cover;}
.cube:not(.email) .back svg path{fill:white;}

.twitter .back{background-color:#4099FF;}
.linkedin .back {background-color:#0976B4;}
.behance .back {background-color:#1769FF;}
.email .back {background-color:#FFF;}

/* Rotate the cube */
/* Container box to set the sides relative to */
.cube {
    width: 210px;
    text-align: center;
    margin: 0 auto;
    height: 130px;
    padding-right:10px;
    cursor: pointer;

    -webkit-transition: -webkit-transform .33s;
    -moz-transition: -webkit-transform .33s;
    -o-transition: -webkit-transform .33s;
    transition: transform .33s; /* Animate the transform properties */

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d; /* <-NB */
}

/* The two faces of the cube */
.front,.back {
    height: 100%;
}

/* Position the faces */
.front {
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    -o-transform: translateZ(50px);
    transform: translateZ(50px);
}

.back {
    -webkit-transform: rotateX(-90deg) translateZ(-65px);
    -moz-transform: rotateX(-90deg) translateZ(-65px);
    -o-transform: rotateX(-90deg) translateZ(-65px);
    transform: rotateX(-90deg) translateZ(-65px);
}

/* Rotate the cube */
.cube:hover {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg); /* Text bleed at 90º */
}

path {
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
}

/* Responsive */

@media screen and (min-width: 1920px){
    section.text .story.primary {padding-top:10%;}
    .cube {height:175px;width:275px;}

    .back {
        -webkit-transform: rotateX(-90deg) translateZ(-90px);
        -moz-transform: rotateX(-90deg) translateZ(-90px);
        -o-transform: rotateX(-90deg) translateZ(-90px);
        transform: rotateX(-90deg) translateZ(-90px);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1600px){
 /* This is sort of what everything else is targeted to */
    section.text.secondary {padding-bottom:30vh;}
    section.contact {padding-bottom:0;height:80vh;}
    .story .copy { font-size: 32px; }

    .back {
        -webkit-transform: rotateX(-90deg) translateZ(-65px);
        -moz-transform: rotateX(-90deg) translateZ(-65px);
        -o-transform: rotateX(-90deg) translateZ(-65px);
        transform: rotateX(-90deg) translateZ(-65px);
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px){
    .nav-container span.slash {padding:0 10px 0 10px;}
    .story .copy { font-size: 32px; }

    .contact-wrapper > div {width:20vw;}
}

@media screen and (max-width: 768px){

    .header { font-size: 20px; }
    .header .mobile-menu {display:inline-block;}
    .header .nav-container {display:none;}

    .title-container .trish {margin-left:-6px;}

    .nav {border-bottom:none;}
    .nav:hover, .nav.hover {border-bottom:none;}

    .story h1 {font-size:60px;}

    section.text .story.primary {padding-top:0;}
    section.bar .story {padding:17vh 5vw 17vh 5vw;}
    section.bar .story.short {padding:19vh 0 19vh 0;}
    section.contact {padding-top:20vh;height:100vh;}
    section.contact .story {padding-top:30%;}
    section.contact .gif-copy-container {height:150px;margin-top:20px;}

    .story .copy { font-size: 22px; }
    .story.secondary {padding-left:5vw;padding-right:5vw;}

    .story .copy.desktop-copy, h1.desktop-copy, div.desktop-copy {display:none;}
    .story .copy.mobile-copy, h1.mobile-copy, div.mobile-copy {display:block;}

    .gif.glasses, .gif.poop, .gif.talk { background-size: contain; }

    /* Position the faces */
    .cube {cursor:pointer;height:110px;}
    .contact-wrapper > div {width:20vw;}
}

@media screen and (max-width: 480px){

    .header .mobile-menu {height:60px;}

    .nav {padding-top:20px;}

    .outer-wrapper {padding: 0;background-color: rgb(0,0,0);}
    .inner-wrapper{ background: url('/_Global/images/bg/bg-mobile.jpg') 50% 0 no-repeat fixed; background-size:contain;overflow:hidden;-webkit-overflow-scrolling:touch;}
    .story h1 {font-size:50px;letter-spacing:-1px;}
    .story .copy {font-size:22px;}

    .story .gif-copy-container {height:250px;}

    section.text {height:auto;padding:15% 0 8% 0;}
    section.text.secondary {padding-bottom:10%;}
    section.text .story.primary {padding:5% 20px 0 20px;}
    section.text .story.secondary {padding-top:15%;padding-left:20px;padding-right:20px;}
    section.bar .bar-wrapper {padding-left:15px;padding-right:15px;width:auto;}
    section.bar .story{padding:15% 0 15% 0;}
    section.bar .story.short {padding:19% 0 19% 0;}
    section.contact {padding:20% 0 25% 0;opacity:1;height:auto; min-height:400px; background:url('/_Global/images/bg/bg-mobile.jpg') no-repeat;background-size:cover;}
    section.contact .copy {padding-top:0;height:100px;}
    section.contact .gif {height:100px;}
    section.contact .story {padding-top:10%;}
    section.contact .gif-copy-container {height:100px;margin-top:25px;}
    section.parallax > div {height:auto;}

    .gif.glasses{height:96px;}
    .gif.poop{height:96px;}

    #rushmore{ background: url('/_Global/images/bg/rushmore-mobile.jpg') no-repeat;background-size:cover;height:335px;}
    #dodge{ background:url('/_Global/images/bg/dart-mobile.jpg') no-repeat; background-size:cover;height:335px;}
    #ride-planner{ background: url('/_Global/images/bg/ride-planner-mobile.jpg') no-repeat; background-size:cover;height:335px;margin-top:-5px;}

    .contact-wrapper > div {width:40%;display:inline-flex;}

    .cube {height:80px;padding-right:0;width:100%;}

    .footer {display: none;}
}